.modal-detail {
    background-color: rgba(0,0,0, .85);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.modal-dialog-detail {
    background: #F8F8F9;
    padding: 10px;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.modal-open-detail  {
    display: grid;
}

.modal-container{
    padding: 20px;
}

.head-card{
    color: #001866;
}

.data-title-d{
    color: darkgray;
}

.data-info-d{
    color: black;
}

.card-separation{
    border-left: 2px #E3E5E9 solid;
}

.card-body-d{
    background-color: #E3E5E9;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container-status{
    text-align: right;
}

.label-status{
    border-radius: 5px;
    color: white;
    background-color: #3363FF;
    width: 100%;
    text-align: center;
    padding: 7px;
}

.link-edit{
    color: darkgray;
    background-color: transparent;
    border: 0;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.link-close{
    color: darkgray;
    background-color: transparent;
    border: 0;
    width: 100%;
    text-align: center;
}

.button-details{
    color: #F8F8F9;
    text-align: center;
    width: 100%;
}

.image-icon{
    width: 100%;
}