.modal-user {
    background-color: rgba(0,0,0, .85);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.modal-dialog-user {
    background: #F8F8F9;
    position: fixed;
    padding: 10px;
    width: 80%;
    margin: 10%;
    height: auto;
    border-radius: 10px;
}

.modal-open-user  {
    display: grid;
}

.modal-container{
    padding: 20px;
}

.head-card{
    color: #001866;
}

.data-title-u{
    color: darkgray;
}

.data-info-u{
    color: black;
}

.card-separation{
    border-left: 2px #E3E5E9 solid;
}

.card-body-u{
    background-color: #E3E5E9;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container-status{
    text-align: right;
}

.label-status{
    border-radius: 5px;
    color: white;
    background-color: #3363FF;
    width: 100%;
    text-align: center;
    padding: 7px;
}

.link-edit{
    color: darkgray;
    background-color: transparent;
    border: 0;
}

.link-close{
    color: darkgray;
    background-color: transparent;
    border: 0;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.button-add{
    color: white;
    background-color: #3363FF;
    border: 0;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
}

.button-save_{
    color: darkgray;
    background-color: transparent;
    border: 0;
    text-align: right;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.button-generate{
    color: white;
    background-color: #FD8E35;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

.logo{
    width: 40%;
    margin-bottom: 20px;
}

.div-loading{
    padding-top: 20px;
    text-align: center;
    width: 100%;
}

.img-loading{
    width: 10%;
}